body{
     background-image: url('./backpic11.jpg');
}

h3{
     color: aqua;
     
}
.colo{
     color: red;
}
.links {
     justify-content: space-between;
     display:flex ;
     flex-direction: row;
     background-color: transparent;
     padding: 3px;
     margin-left: 300px;
     margin-right: 90px;
  
}
ul{
     margin-left: 40%;
    
}
a{
     text-decoration: none;
     color: rgb(223, 215, 222);
     background-color: transparent;

}
a:hover{
     color: rgb(213, 121, 185);
}
img{
     height: 50px;
     width: 70px;
}
.close.dropdown-list{
     display: flex;
     flex-direction: column;
     /* justify-content: space-around; */
     height: 600px;
     width: 900px;
     background-color: rgb(71, 111, 111);
     transform: translateY(-20px);
     transition: var(--speed) ease;
     visibility: visible;
     margin-left: 50px;
     
}

.close{
     visibility: hidden;

}
.fa{
     color: aqua;
  
}

.fa-times{
     color: aqua;
     margin-top: 3%;
     margin-left: 799px;
     height: 200px;
     width: 200px;
}
@media (max-width : 1000px){
.links {

          margin-left: 10px;
     
     }
     a{
          font-size: 300%;
     }
     .fa{
          color: aqua;
          height: 140px;
          width: 140px;
          
     }
}