body{
     background-image: url('./backpic11.jpg');
}

h3{
     color: aqua;
     
}
.links {
     justify-content: space-between;
     display:flex ;
     flex-direction: row;
     background-color: transparent;
     padding: 3px;
     margin-left: 300px;
     margin-right: 90px;
  
}
a{
     text-decoration: none;
     color: rgb(223, 215, 222);
     background-color: transparent;

}
a:hover{
     color: rgb(213, 121, 185);
}
img{
     height: 50px;
     width: 70px;
}
.close.dropdown-list{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 500px;
     width: 250px;
     background-color: rgb(71, 111, 111);
     visibility: visible;
     
}
.close{
     visibility: hidden;

}
button{
     background-color: aqua;
     height: 50px;
     width: 90px;
}
@media (max-width : 1000px){
.links {

          margin-left: 10px;
     
     }
     a{
          font-size: 300%;
     }
}